{% extends 'crud/base.html' %}
{% block form %}
{% comment %} {% load static %} {% endcomment %}
    <div class="container">
        <div class="jumbotron" >            

            <form method="post" action="{% url 'form' %}"  autocomplete="off">
            {% csrf_token %}   

                <div class="form-group"> 
                  <label >FullName</label>                 
                  <input type="name" name="fullname"  class="form-control" placeholder="Your Name" value={{form.FullName}}>               
                </div>


                <div class="form-group">
                  <label for="exampleInputEmail1">Email</label>
                  <input type="email" name="email"   class="form-control" placeholder="Enter email" value={{form.Email}}>                 
                </div>

                 
                <div class="form-group">
                  <label for="exampleInputEmail1">Phone</label>                  
                  <input type="text" name="phone"   class="form-control"  placeholder=" "  value={{form.Phone}}>                  
                </div>
                
                <div class="form-group">
                  <label>Address</label>                  
                  <input type="text" name="address" class="form-control"  placeholder=" " value={{form.Address}}>
                </div>
               
                <div class="form-check">
                  <input type="checkbox" class="form-check-input" id="exampleCheck1">
                  <label class="form-check-label" for="exampleCheck1">Remember Me</label>
                </div>

                  <br>
                <button type="submit" class="btn btn-primary">Submit </button>
            
            </form>
        </div>
    </div>
{% endblock %}
